
@model List<mypharmacy.Models.mysingle>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Pharmacylayout.cshtml";
   
}
@{
    List<mypharmacy.Models.mysingle> l2 = (List<mypharmacy.Models.mysingle>)Session["list"];
}
<!-- banner -->
<div class="page-head">
    <div class="container">
        <h3>Check Out</h3>
    </div>
</div>
<!-- //banner -->
<!-- check out -->
<div class="checkout">
    <div class="container">
        <h3>My Shopping Bag</h3>
        <div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>Remove</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Product Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                @for (int i = 0; i < l2.Count; i++)
                {
                    <tr class="rem@(i+1)">
                        <td class="invert-closeb">
                            <div class="rem">
                                <div class="close@(i+1)"> </div>
                            </div>
                            <script>
                                $(document).ready(function (c) {
                                    $('.close@(i+1)').on('click', function (c) {
                                        $('.rem@(i+1)').fadeOut('slow', function (c) {
                                            $('.rem@(i+1)').remove();
                                        });
                                    });
                                });
                            </script>
                        </td>
                        <td class="invert-image"><a href="single.html"><img src="/UplodedImages/@l2[i].image" alt=" " class="img-responsive" /></a></td>
                        <td class="invert">
                            <div class="quantity">
                                <div class="quantity-select">
                                    <div class="entry value-minus">&nbsp;</div>
                                    <div class="entry value"><span>1</span></div>
                                    <div class="entry value-plus active">&nbsp;</div>
                                </div>
                            </div>
                        </td>
                        <td class="invert">@l2[i].name</td>
                        <td class="invert">@l2[i].price</td>

                    </tr>

                }
                <!--quantity-->
                <script>
                    $('.value-plus').on('click', function () {
                        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) + 1;
                        divUpd.text(newVal);
                    });

                    $('.value-minus').on('click', function () {
                        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) - 1;
                        if (newVal >= 1) divUpd.text(newVal);
                    });
                </script>
                <!--quantity-->
            </table>
        </div>
        <div class="checkout-left">

            <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
                <a href="~/Home/Index"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back To Shopping</a>
            </div>
            <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
                <h4>Shopping basket</h4>
                <ul>
                    @{int j = 0;}
                    @for (int i = 0; i < l2.Count; i++)
                    {
                        <li>@l2[i].name <i>-</i> <span>@l2[i].price</span></li>
                        j = j + @l2[i].price;
                    }
                    <li>Total <i>-</i> <span>Rs@(j)</span></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

</div>
<div class="main">
    <div class="mgma_btn">
        <a href="~/Home/OderDetail">Buy Now</a>
    </div>
</div>

<!-- //check out -->

